name: Publish Any Commit
on: [push, pull_request]

permissions: {}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - run: corepack enable
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: "npm"

            - name: Install dependencies
              run: npm install

            - name: Build
              run: npm run build

            - run: npx -y pkg-pr-new publish
